{% extends "book/layout.html" %}

{% block title %} Add Book {% endblock %}

{% block body %}
<div class="container">
    <h3 class="my-4">Add Book</h3>
    <form action="{% url 'add_book' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Book Name</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" name="author">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" name="category">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Book Image</label>
        <input type="file" class="form-control" id="image" name="image">
    </div>
    <div class="mb-3">
        <label for="buy_date" class="form-label">Date of Buy</label>
        <input type="date" class="form-control" id="buy_date" name="buy_date">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>

{% endblock %}