{% extends "book/layout.html" %}

{% block title %} Add Book {% endblock %}

{% block body %}
<div class="container">
    <h3 class="my-4">Add Book</h3>
    <form action="{% url 'add_book' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="isbn" class="form-label">ISBN</label>
      <input type="number" class="form-control" id="isbn" name="isbn">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Book Name</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" name="author">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" name="category">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Book Image</label>
        <input type="file" class="form-control" id="image" name="image">
    </div>
    <div class="mb-3">
      <label for="book_file" class="form-label">Book File</label>
      <input type="file" class="form-control" id="book_file" name="book_file">
    </div>
    <div class="mb-3">
      <label for="publisher" class="form-label">Publisher Name</label>
      <input type="text" class="form-control" id="publisher" name="publisher">
    </div>
    <div class="mb-3">
        <label for="pub_date" class="form-label">Publication Date</label>
        <input type="date" class="form-control" id="pub_date" name="pub_date">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>

{% endblock %}