{% extends "book/layout.html" %}

{% block title %} HireBook Detail {% endblock %}

{% block body %}
    <div class="container">
        <h3 class="display-4 my-5 text-center">Hired Book Detail</h3>
        {% if message %}
        <div class="text-center mb-2">
            <span class="text-danger ">{{message}}</span>
            <a href="{% url 'contact' %}" class="text-info">Contact Here</a>
        </div> 
        {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="{{ hirebook.book_image.url }}" class="my-5" alt="{{ hirebook.book_image }}" style="height: 400px; object-fit:fill;">
            </div>

           <div class="col-lg-6 border-left text-left pt-5">
            <div class="mb-5"><strong>Hire ID:</strong><span class=" lead pl-3"> {{ hirebook.id }} </span> </div>
            
            <div class="mb-5"><strong>Username:</strong> <span class=" lead pl-3"> {{ hirebook.username }} </span></div>
            
            <div class="mb-5"><strong>Book ID:</strong><span class=" lead pl-3"> {{ hirebook.book_id }} </span></div>
             
            <div class="mb-5"><strong>Book Name:</strong><span class=" lead pl-3"> {{ hirebook.book_name }} </span></div>
             
            <div class="mb-5"><strong>Hire Date:</strong><span class=" lead pl-3"> {{ hirebook.hire_date }} </span></div>

            <div class="mb-5"><strong>Return Date:</strong><span class=" lead pl-3"> {{ hirebook.return_date|date:"Y-m-d" }} </span></div>

            <div class="mb-5">
                <a href="{% url 'hirebook_cancel' hirebook.id %}" class="btn btn-danger">Cancel Hire</a>
                
             
        </div>
        </div>
       
        

    </div>
{% endblock %}