{% extends "book/layout.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
<h4 class="display-4 text-center my-5"> {% if searched %} Searched Books {% else %} All Books  {% endif %}</h4><br>
    
        <div class="container mb-5">
            <div class="row">  
                {% if books %}
                    {% for book in books %}
                    <div class="col-12 col-lg-3 mr-4 ">      
                        <a href="{% url 'book_detail' book.id %}">
                            <div class="card h-100" style="width: 18rem;">
                            <img src="{{ book.image.url }}" class="card-img-top mt-4" alt="{{ book.image }}" style="height: 200px; object-fit:contain;">
                            <div class="card-body mt-4">
                                <h5 class="card-title text-center">{{ book.name}}</h5>
                                <p class="card-text text-muted text-center"> {{ book.author }} </p>

                            </div>
                        
                        </div>
                        </a>
                   
                    </div>
                    {% endfor %}    
                {% endif %} 

            </div>
             <!-- Add pagination feature -->
                <nav class="text-right mt-4" aria-label="book pages">  
                        
                    <span class="current">
                        Page {{ books.number }} of {{ books.paginator.num_pages }}.
                    </span>
                    
                    <ul class="pagination justify-content-center">

                        {% if books.has_previous %}
                        <li class="page-item">  
                            <a href="?page=1" class="page-link">&laquo; first</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ books.previous_page_number }}" class="page-link">previous</a>
                        </li>
                            
                        {% endif %}
        
                        {% if books.has_next %}
                        <li class="page-item">
                            <a href="?page={{ books.next_page_number }}" class="page-link">next</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ books.paginator.num_pages }}" class="page-link">last &raquo;</a>
                        </li>
                            
                        {% endif %}
                    
                    </ul> 
                </nav>
        </div>
   

{% endblock %}