{% extends "book/layout.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
<h4 class="display-4 text-center my-5"> {% if searched %} Searched Books {% else %} All Books  {% endif %}</h4><br>
    
        <div class="container mb-5">
            <div class="row">
                {% for book in books %}
                <div class="col-12 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ book.image.url }}" class="card-img-top mt-4" alt="{{ book.image }}" style="height: 200px; object-fit:contain;">
                        <div class="card-body mt-4">
                            <h5 class="card-title text-center">{{ book.name}}</h5>
                            <p class="card-text text-muted text-center"> {{ book.author }} </p>
                            <input type="hidden" id="book_id{{ book.id }}" value="{{book.id}}">
                            <div class="buttons text-center">
                                <a id="wishlist{{ book.id }}" href="#" class="btn btn-outline-danger btn-sm">
                                    {% if wishlists %}
                                    {% for wishlist in wishlists %}
                                            {% if book.id == wishlist.book_id %}
                                                <i id="heart{{book.id}}" class="bi bi-heart-fill"></i> 
                                            {% else %}
                                                <span class=""></span>
                                            {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        <i id="heart{{book.id}}" class="bi bi-heart"></i> 
                                    {% endif %}
                                </a>
                                <a href="{% url 'hirebook' book.id %}" class="btn btn-outline-primary btn-sm">
                                    {% if hirebooks %}
                                    {% for hirebook in hirebooks %}
                                        {% if book.id == hirebook.book_id %}
                                            Cancel Hire 
                                        {% else %}
                                            Hire
                                        {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        Hire
                                    {% endif %}
                                </a>
                                <a href="{% url 'pdf_view' %}"
                                 class="btn btn-outline-info btn-sm">Read</a>
                                {% if user.username == 'admin' %}
                                <a href="{% url 'delete' book.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                                {% endif %}
                            </div>
                        {% if message %}
                            <div class="my-4 text-center">
                                 <small class="text-danger ">{{message}}</small>
                            </div>
                           
                            <div class="text-center">
                                <a href="{% url 'contact' %}" class="btn btn-info btn-sm">Contact Here</a>
                            </div>
                            
                        {% endif %}
                        </div>
                     
                    </div>
                </div>
                <!-- Add to Wishlist JS freature -->
                <script>
                    document.querySelector('#wishlist{{book.id}}').addEventListener('click',() => {

                        // Get the book id
                        const book_id = document.querySelector('#book_id{{ book.id }}').value;
                        // Fetch api with post request
                        fetch('/wishlist',{
                            method: 'POST',
                            body: JSON.stringify({'book_id':book_id})
                        })
                        .then(res => res.json())
                        .then(data => {
                            console.log(data)
                            if (data['wishlist_already'] == true) {
                                // Change heart icon
                                document.querySelector('i').className = 'bi bi-heart';
                            } else {
                                // Change heart icon to fill 
                                document.querySelector('i').className = 'bi bi-heart-fill';
                            }
                        })
                        .catch(err => console.log(err))
                    })
                </script>
                {% endfor %}
            </div>
            
        </div>
   

{% endblock %}